.dw_1200px { width: 100%; max-width: 1200px; margin: 0 auto; }
.text_hidden { display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.word_break { word-break: keep-all; }

/*text-align*/
.t_center { text-align: center; }
.t_right { text-align: right; }
.t_left { text-align: left; }
/*color*/
.katana_f_color { color: #858585; }
.katana_bg_color { background-color: #323232; }
.white_color { color: #ffffff; }

/*font*/
.fw_bold { font-weight: 600; }

/*margin*/
.mt10px { margin-top: 10px; }
.mb10px { margin-bottom: 10px; }

/*padding*/
.pt10px { padding-top: 10px; }
.pb10px { padding-bottom: 10px; }

